<h2 align="center" ><i>Наши контакты</i></h2>
<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">Телефоны</p>
<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">+99312947874</p>
<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">+99312947875</p>
<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">+99312947876</p>
<br/>
<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">E-mail</p>
<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">info@grebeshok.com</p>


<form align="left" action="/contacts" method="post">
Имя:<br>
<input type="name" name="name" class="form-control" id="exampleInputEmail1" placeholder="Имя">
Email:<br>
<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
Коментарии:<br>
  <textarea name="coment" class="form-control id="story" name="story"
            rows="5" cols="33">

  </textarea><br/>
<button type="submit" class="btn btn-outline-primary">ОТПРАВИТЬ </button>
</form><br>
<br>
<br>
